

<div id="calculateItem" class="itemTemplateWrapper"><p>1</p></div>
<div id="calculateItem" class="itemTemplateWrapper"><p>{{value}}</p></div>
<div id="calculator">
    <!-- Screen and clear key -->
    <div class="top">
    </div>

    <div class="keys">
        <!-- operators and other keys -->
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>,</span>
        <span>0</span>
    </div>
</div>